.details-section {
    background-image: url(../images/details2.jpg);
    background-size: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 100px;
}

.plan-details-title {
    font-size: 52px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    /* padding-top: 106px; */
}

.plan-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(142, 244, 172, 0.8);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 34%;
}

.plan-details-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
    margin: 0;
}

.plan-details-info span {
    font-weight: bold;
    color: red;
    margin-left: 20px;
}

.plan-details-comments {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 34%;
    text-align: center;
    background-color: #eaeaa3;
}

.plan-details-comments h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.plan-details-comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan-details-comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #44d2ef;

}

.plan-details-comment p {
    margin: 0;
    color: white;
    font-size: 18px;
}

.no-comment {
    font-style: italic;
    color: #999;
}

.plan-details-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.submit-button {
    margin-bottom: 14px;
    margin-top: 8px;
}

/* ------------Comments CSS---------------- */

.create-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.create-comment label {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-size: 26px;

}

.create-comment .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 500px;
}

.comment-div,
.comment-div input[type="text"],
.comment-div textarea {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.comment-div input[type="text"] {
    border: 1px solid #ccc;

}

.addButton {
    margin-bottom: 14px;
}

.submit-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

/* ------------Confirm Message CSS---------------- */

.confirm-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #d28888;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.confirm-message h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.confirm-message button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.confirm-message button:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

/* ---------------PROFILE--------------- */

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 100vh; */
    background-image: url(../images/createPlan.jpg);
}

.profile-h1 {
    color: white;
}

.profile-info p {
    color: yellow;
    font-size: 1.8rem;
}