footer {
    text-align: center;
    padding: 14px 0px;
    background-color: #cdd2d9;
    height: 50px;
    margin-bottom: 18px;
}

footer p {
    font-size: 16px;
    color: black;
}

footer p a {
    cursor: pointer;
    color: #ed563b;
}

footer p a:hover {
    color: #ed563b;
}