.registerContainer {
    height: 50rem;
    text-align: center;
    background-image: url(../images/login.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding-top: 98px;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-form,
#login-form {
    width: 26%;
    min-height: 70%;
    background-color: #1d3b99a1;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;

}

.button {
    margin-bottom: 18px;
}

.form-outline {
    margin-bottom: 14px;
}

#login-form {
    min-height: 50%;
}
